<section>
  <h2>Add New Pet</h2>

  <form class="new-pet-form">
    <div>
      <label for="pet-name">Pet Name</label>
      <input type="text" id="pet-name" name="pet-name" />
    </div>
    <div>
      <label for="pet-age">Pet Age</label>
      <input type="text" id="pet-age" name="pet-age" />
    </div>
    <div>
      <label for="pet-type">Pet Type</label>
      <input type="text" id="pet-type" name="pet-type" />
    </div>
    <div>
      <label for="pet-health">Pet Health</label>
      <input type="text" id="pet-health" name="pet-health" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-pet.js"></script>