<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Pet
  </h2>
  <form class="edit-post-form">
      <div>
      <input name="pet-name" type="text" value="{{post.pet_name}}" />
      </div>
      <div>
      <input name="pet-age" type="text" value="{{post.pet_age}}" />
      </div>
      <div>
      <input name="pet-type" type="text" value="{{post.pet_type}}" />
      </div>
      <div>
      <input name="pet-health" type="text" value="{{post.pet_health}}" />
      </div>

    <button type="submit">Save pet</button>
    <button type="button" class="delete-post-btn">Delete pet</button>
  </form>
</article>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
