<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<section>
<img class="allPets" src="{{https://www.google.com/imgres?imgurl=https%3A%2F%2Fa-z-animals.com%2Fmedia%2F2021%2F01%2Fshutterstock_1050239354.jpg&imgrefurl=https%3A%2F%2Fa-z-animals.com%2Fpets%2F&tbnid=QJkmXsz4zc1m8M&vet=12ahUKEwiS5K_W-f_yAhVtrHIEHUVJBBAQMygaegUIARCAAg..i&docid=L_wDr4BdP1eSWM&w=1200&h=627&q=all%20pets&ved=2ahUKEwiS5K_W-f_yAhVtrHIEHUVJBBAQMygaegUIARCAAg}}">
</section>